@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<div class="wrapper wrp-bio">
        <div class="container">
            <div class="row">
                <div class="col-12">
                                         <div class="bio-outer opend bio-1">
                            <div class="bio-header">
                                <div class="bio-title">
                                    <h2>Andres Chapa</h2>
                                </div>
                                <div class="bio-btn">
                                    <a href="javascript:void(0)" onclick="showBio(1)" title="">Meet Andres</a>
                                </div>
                            </div>
                <h3 class="bio-cate">Head of Factoring  </h3>
                            <div class="bio-hidden">
                                <div class="bio-contact">
                                    <a href="mailto:achapa@farofactoring.com" title="achapa@farofactoring.com"><img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/themes/faro/images/blue-mail.png" alt="" title="">achapa@farofactoring.com</a>
                                    <a href="tel:956.568.1334" title="956.568.1334"><img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/themes/faro/images/blue-phone.png" alt="" title="">956.568.1334</a>
                                </div>
                                <div class="bio-inner-img">
                                                                        <div class="bio-image">
                                        <img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/uploads/2021/06/andres_chapa.jpg" alt="" title="andres_chapa">
                                    </div>
                                </div>
                                <div class="bio-content">
                                    <p>Andres has a Bachelor’s Degree in International Business from the Instituto Tecnologico y de Estudios Superiores de Monterrey (ITESM). He also has an MBA from Texas A&amp;M International University.</p>
<p>Andres has over 10 years of experience in Transportation and Logistics; first working as General Manager of PG Distribution LLC (Palos Garza) for six years. Then he moved to Panther Premium Logistics (Arcbest) to lead and manage the Laredo and Mexico operations for another six years.</p>
<p>Andres joined FARO to head the Factoring division after recognizing the need for a locally based Factoring company to assist the local trucking industry.</p>
                                    <div class="close-bio">
                                        <a href="javascript:void(0)" onclick="closeBio(1)" title="Close Bio">
                                            <img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/themes/faro/images/close.png" alt="" title="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                 <div class="bio-outer opend bio-2">
                            <div class="bio-header">
                                <div class="bio-title">
                                    <h2>Jack Avigael</h2>
                                </div>
                                <div class="bio-btn">
                                    <a href="javascript:void(0)" onclick="showBio(2)" title="">Meet Jack</a>
                                </div>
                            </div>
                <h3 class="bio-cate">Managing Financial Advisor <span>  |  </span>  Partner</h3>
                            <div class="bio-hidden">
                                <div class="bio-contact">
                                    <a href="mailto:jack@farowealth.com" title="jack@farowealth.com"><img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/themes/faro/images/blue-mail.png" alt="" title="">jack@farowealth.com</a>
                                    <a href="tel:210.564.9141 " title="210.564.9141 "><img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/themes/faro/images/blue-phone.png" alt="" title="">210.564.9141 </a>
                                </div>
                                <div class="bio-inner-img">
                                                                            <div class="bio-logo">
                                            <a href="/home" target="_Blank">
                                                <img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/uploads/2021/06/broker.png" alt="" title="broker">
                                            </a>
                                        </div>
                                                                        <div class="bio-image">
                                        <img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/uploads/2021/06/bio-e1600784306614.png" alt="" title="bio-e1600784306614">
                                    </div>
                                </div>
                                <div class="bio-content">
                                    <p>After graduating cum laude with a Bachelor of Science in Economics from the University of Pennsylvania, Jack began his career in finance at the Permanent University Fund of the University of Texas System. During his three years there he assumed a number of duties from bond swap analysis to equity research in paper, forest products and retail sectors of the equity market. Jack’s next career advancement landed him at Laredo National Bank in his hometown of Laredo, Texas. Holding two positions over the course of his 17-year tenure – Trust Investment Officer, then Executive Vice President of Bank Investments – Jack managed assets exceeding $1 billion. He then went on to become the Branch Manager at Merrill Lynch for 19 years and was instrumental with the growth of $30 million to approximately $400 million in assets. In 2011 Jack co-founded AlphaPoint Investments, an independent investment management firm. Following AlphaPoint, he founded FARO Investment Management with Rafael Gutierrez Nieto.</p>
<p>Career highlights include the Houston Society of Financial Analysts Award and induction into the Society of International Business Fellows. In addition, Jack consulted with the Federal Reserve Chairman on the Impact of the Mexican Peso Devaluation, and the United States immigration policy on the economies of Mexico and the United States during the 1980s.</p>
                                    <div class="close-bio">
                                        <a href="javascript:void(0)" onclick="closeBio(2)" title="Close Bio">
                                            <img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/themes/faro/images/close.png" alt="" title="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                 <div class="bio-outer opend bio-3">
                            <div class="bio-header">
                                <div class="bio-title">
                                    <h2>Rafael Gutierrez Nieto</h2>
                                </div>
                                <div class="bio-btn">
                                    <a href="javascript:void(0)" onclick="showBio(3)" title="">Meet Rafael</a>
                                </div>
                            </div>
                <h3 class="bio-cate">Senior Financial Advisor <span>  |  </span> Partner</h3>
                            <div class="bio-hidden">
                                <div class="bio-contact">
                                    <a href="mailto:rafael@farowealth.com" title="rafael@farowealth.com"><img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/themes/faro/images/blue-mail.png" alt="" title="">rafael@farowealth.com</a>
                                    <a href="tel:956.568.1190" title="956.568.1190"><img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/themes/faro/images/blue-phone.png" alt="" title="">956.568.1190</a>
                                </div>
                                <div class="bio-inner-img">
                                                                            <div class="bio-logo">
                                            <a href="/home" target="_Blank">
                                                <img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/uploads/2021/06/broker.png" alt="" title="broker">
                                            </a>
                                        </div>
                                                                        <div class="bio-image">
                                        <img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/uploads/2021/06/rafael_gutierrez.jpg" alt="" title="rafael_gutierrez">
                                    </div>
                                </div>
                                <div class="bio-content">
                                    <p>Rafael is a partner and co-founder of FARO Wealth. He earned a Bachelor of Business Administration in Finance from the University of Texas at San Antonio and a Master of Science in Finance from Georgetown University, Washington D.C.</p>
<p>Rafael began his career at Falcon International Bank and LPL Financial. While there, he obtained his Series 7 and Series 66 licenses and assumed duties that ranged from portfolio management to equity and bond portfolio analysis.</p>
<p>Rafael’s career advanced when he was hired to join Jack Avigael’s team at Merrill Lynch. During his six-year tenure there, he managed Ultra High Net Worth accounts for domestic and international clients and was instrumental in growing the Laredo office assets under management and production.</p>
<p>Immediately following his time at Merrill, Rafael ventured into the independent realm of investment management. Co-founding AlphaPoint Investment Management, Rafael gained extensive knowledge of the financial services infrastructure and the flexibility available to independent advisors. After refining his business approach and aligning with partners who shared a common vision, Rafael co-founded FARO Wealth in 2013.</p>
                                    <div class="close-bio">
                                        <a href="javascript:void(0)" onclick="closeBio(3)" title="Close Bio">
                                            <img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/themes/faro/images/close.png" alt="" title="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                 <div class="bio-outer opend bio-4">
                            <div class="bio-header">
                                <div class="bio-title">
                                    <h2>Alejandra Cadena</h2>
                                </div>
                                <div class="bio-btn">
                                    <a href="javascript:void(0)" onclick="showBio(4)" title="">Meet Alejandra</a>
                                </div>
                            </div>
                <h3 class="bio-cate">Operations Manager <span>  |  </span> Lead Client Associate</h3>
                            <div class="bio-hidden">
                                <div class="bio-contact">
                                    <a href="mailto:acadena@farowealth.com" title="acadena@farowealth.com"><img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/themes/faro/images/blue-mail.png" alt="" title="">acadena@farowealth.com</a>
                                    <a href="tel:956.568.1190" title="956.568.1190"><img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/themes/faro/images/blue-phone.png" alt="" title="">956.568.1190</a>
                                </div>
                                <div class="bio-inner-img">
                                                                            <div class="bio-logo">
                                            <a href="/home" target="_Blank">
                                                <img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/uploads/2021/06/broker.png" alt="" title="broker">
                                            </a>
                                        </div>
                                                                        <div class="bio-image">
                                        <img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/uploads/2021/06/alejandra_cadena.jpg" alt="" title="alejandra_cadena">
                                    </div>
                                </div>
                                <div class="bio-content">
                                    <p>Alejandra is magna cum laude alumna from Texas A&amp;M International University holding a Bachelor’s degree in Communication and perusing a Master’s in Business Administration with a concentration in International Business. She holds nine years of customer service, marketing, and business operations experience.</p>
<p>In 2016, Alejandra joined Faro Companies as a client associate. She currently runs day-to-day operations for Faro Wealth, Beacon Insurance, and Faro FX clients. Additionally, she is licensed in Texas for property &amp; casualty insurance.</p>
<p>In her spare time, you will catch her at movie night with her two daughters, or watching a good Houston Texans game with her husband!</p>
                                    <div class="close-bio">
                                        <a href="javascript:void(0)" onclick="closeBio(4)" title="Close Bio">
                                            <img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/themes/faro/images/close.png" alt="" title="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                        </div>
            </div>
        </div>
    </div>